@import url("https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,700&display=swap");

:root {
  --primary: #b6895b; /* */
  --bg: #010101;
  --fontprimary: #fff;
  --sectionPadding: 6rem 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg); 
}


h1, h2, h3, h5, h6, strong {
  color: var(--primary);
}

h4 {
  color: #000;
}

p {
  font-size: 1 rem; 
  line-height: 1.9 rem;
}

p, span, label, input, textarea, li {
  color: var(--fontprimary);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .main-container {
    width: 90%;
  }
}

/* Logo dan nav menu */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav ul{
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
}

.logo a {
  color: var(--primary);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primary);
}

/* Hero */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}


/* titles */
.pre-title {
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: #f4f4f4;
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--fontprimary);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}



.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primary);
}

.hero-right img {
  width: 90%;
}

.hero-right {
  display: flex;
  justify-content: center;
}


/* services */
#services {
  background-color: var(--primary);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
  
}


.service {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--primary);
  border-radius: 0.7rem;
}

.service h4 {
  margin: 1.5rem;
  font-weight: 500;
  font-size: 1.05rem;
}

/* Blog */
.inspiratif {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 2rem;
}

.inspiratif .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; 
  padding: 1rem 1rem;
  margin-top: 3rem;
}

.inspiratif .row .inspiratif-card {
  text-align: center;
  padding-bottom: 1rem;
  background-color:var(--primary); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.inspiratif .row .inspiratif-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.inspiratif .row .inspiratif-card img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 70%;
  max-width: 30rem;
  transition: transform 0.3s; 
}

.inspiratif .row .inspiratif-card img:hover {
  transform: scale(1.05); /* Sedikit perbesar gambar saat hover */
}

.inspiratif .row .inspiratif-card a {
  color: #000; /* Warna teks link */
  padding: 3rem 2rem;
  display: block; /* Pastikan link tampil sebagai blok */
  font-size: 1rem;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 700;
  line-height: 1.6;
  text-decoration: none; /* Hilangkan garis bawah pada link */
  transition: color 0.3s; /* Transisi untuk perubahan warna teks */
}

.inspiratif .row .inspiratif-card a:hover {
  color: #fff;
}

/* Portfolio */
#portfolios {
  padding: var(--sectionPadding);
}

.portfolio {
  border-radius: 0.7rem;
  overflow: hidden;
}

.portfolio-cover {
  height: 250px;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
  color: var(--primary);
}va

.portfolio-title a svg:hover {
  fill: var(--primary);
}

.portfolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-tags div {
  font-size: 0.9rem;
  border: 1px solid #b6895b;
  color: #b6895b;
}


/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}